body {
    background:rgb(197, 243, 255);
    font-family: Arial, Times, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: rgb(177, 228, 241);
}

.assignment img {
    width:200px;
    padding:10px;
}

h1 {
    color: rgb(14, 14, 179);
    text-align:center;
}

a {
    text-decoration: none;
    color: dimgrey;
}