body {
    background:rgb(197, 243, 255);
    font-family: Arial, Times, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    margin-bottom: 25px;
    background: rgb(177, 228, 241);
    border-radius:6px;
    box-shadow: 5px 9px rgb(161, 214, 228);
}

.assignment img {
    width:200px;
    border: 2px solid rgb(86, 175, 216);
    padding:10px;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color: rgb(25, 5, 211);
    text-align:center;
}

a {
    text-decoration: none;
    color: rgb(66, 100, 252);
}

.assignment a:hover {
    color: white;
}